.footer-container {
  height: 30vh;
  background-color: azure;
  width: 100%;
  position: static;
  display: block;
  .footer-items-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    .social-media-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .social-media-title {
        font-size: 25px;
        text-decoration: underline;
      }
      .social-media-items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .social-media-icon {
          width: 30px;
          height: 30px;
          color: orange;
          &:hover {
            color: aquamarine;
          }
        }
      }
    }
  }
}
